################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
*.suo
/P8Installer/P8Installer-cache
/P8Installer/P8Installer-SetupFiles
/bin/Debug
/bin/Release
*.user
/.vs
