<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Power8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Power8.Properties.Settings>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreVer" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRunDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchProviders" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;P8SearchProviders&gt;
  &lt;Provider key="b"&gt;http://www.bing.com/search?q={0}&lt;/Provider&gt;
  &lt;Provider key="d"&gt;http://www.baidu.com/s?wd={0}&lt;/Provider&gt;
  &lt;Provider key="g"&gt;https://google.com/search?q={0}&lt;/Provider&gt;
  &lt;Provider key="w"&gt;http://en.wikipedia.org/w/index.php?search={0}&lt;/Provider&gt;
  &lt;Provider key="y"&gt;http://yandex.com/yandsearch?text={0}&lt;/Provider&gt;
  &lt;Provider key="в"&gt;http://ru.wikipedia.org/w/index.php?search={0}&lt;/Provider&gt;
  &lt;Provider key="г"&gt;https://google.ru/search?q={0}&lt;/Provider&gt;
  &lt;Provider key="я"&gt;http://yandex.ru/yandsearch?text={0}&lt;/Provider&gt;
&lt;/P8SearchProviders&gt;</value>
            </setting>
            <setting name="BlockMetro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SquareButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WatchRemovables" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnBadConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ArFollowsTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartImage" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowMbComputer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMbDocs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMbCpl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMbAdminTools" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMbNet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSortTrees" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMenuText" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRestart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MfuFromUserAssist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MfuFromP8JL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MfuFromCustomData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDonateMenuItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMbCtrlByCat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TryFpResetBeforeUiCtors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DynamicLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotFreeLibraries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StretchIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EnableAutoCorner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForcePowerActions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmPowerActions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMenu98Style" serializeAs="String">
                <value>False</value>
            </setting>
        </Power8.Properties.Settings>
    </userSettings>
    <system.net>
        <defaultProxy useDefaultCredentials="true"/>
    </system.net>
</configuration>